<%- include('../partials/header'); %>
<main class="main container-fluid">
	<p><%= data.description %></p>
	<h2>Quick Facts</h2>
	<ul>
		<li><b>Episode:</b> <%= data.episode %></li>
		<li><b>Air Date:</b> <%= data.airDate %></li>
		<li><b>Rating:</b> <%= data.rating %></li>
	</ul>
</main>
<%- include('../partials/footer'); %>
